/*  */


.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem; /* Optional: adds spacing between items */
}

.item {
    flex: 0 0 100%; /* This ensures one item fits in the container */
    min-width: 100%; /* Ensures each item takes up 100% of the container's width */
    scroll-snap-align: start;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container, .text-container {
    width: 50%;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Adjust as needed */
}

.img-container img {
    max-height: 100%;
    max-width: 100%;
}

.text-container {
    text-align: center;
}

.img-container img.soft-edges {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.github-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
  }
  
  .github-link:hover {
    background-color: #555;
  }

  .project-section {
    overflow: hidden;
}

.project-section * {
    overflow: hidden;
}